body{
    background-color: cornflowerblue;
}

.white_elem{
    background-color: white;
}

.rounded{
    border-radius: 10px;
}

.menuIcon, .carta{
    position: absolute;
    height: 200px;
    width: 200px;
}

.grey{
    background-color: grey;
}

.inativo{
    background-color: grey;
}

h1{
    font-size: 20px;
}

.clickable{
    cursor: pointer;
}

/* ----CLASSE DE TESTE---- */
.selected{
    border: 2px solid red;
}

